.planner-dia-data {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  height: 100px;
  width: 90%;
  background-color: rgb(177, 230, 255);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    transition: transform 0.25s ease, box-shadow 0.25s ease;

}
.planner-dia-data:hover {  
 transform: translateY(-2px);
  transition: 0.3s;
}
.data {
  font-size: 1.1rem;
  font-weight: 500;
  color: #555;
}
.diaSemana {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2b2b2b;

}