.planner-botao {
  border-radius: 50%;
  margin: 50px;
  background-color: rgb(233, 233, 233);
  width: 80px;
  height: 80px;
  opacity: 80%;
  border: solid 1px black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease, opacity 0.25s ease;;

}
.planner-botao:hover {  
  opacity: 95%;
  transition: 0.3s;
}
