body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.planner-dia {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  gap: 20px;
  align-items: center;
  width: 500px;
  height: 850px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(139, 139, 139);
  background-color: rgb(237, 246, 255);
  margin-top: 1vw;
  border-radius: 20px;
}

.planner-dia-data {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  height: 100px;
  width: 90%;
  background-color: rgb(177, 230, 255);
}

.planner-dia-tarefas {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 90%;
  background-color: rgb(175, 255, 242);
  }

.planner-dia-add {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 90%;
  background-color: rgb(201, 226, 255);
  border-radius: 20px;
}

main {
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  gap: 1vw;
}

.planner-botao {
  border-radius: 50%;
  margin: 50px;
  background-color: rgb(233, 233, 233);
  width: 80px;
  height: 80px;
  opacity: 80%;
  border: solid 1px black;
}