body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.planner-dia {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  gap: 20px;
  align-items: center;
  width: 500px;
  height: 850px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(139, 139, 139);
  background-color: rgb(237, 246, 255);
  margin-top: 1vw;
  border-radius: 20px;
  opacity: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);

}

.planner-dia-add {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 90%;
  background-color: rgb(201, 226, 255);
  border-radius: 20px;
  cursor: pointer;
}

main {
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  background:
  linear-gradient(
    270deg,
    #ff0000,
    #ff9900,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #9900ff,
    #ff0000
  );

  background-size: 1600% 1600%;
  animation: gradientMove 100s ease infinite;
  
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.planner-botao {
  border-radius: 50%;
  margin: 50px;
  background-color: rgb(233, 233, 233);
  width: 80px;
  height: 80px;
  opacity: 80%;
  border: solid 1px black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
