.planner-dia-add {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 90%;
  background-color: rgb(201, 226, 255);
  border-radius: 20px;
  cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;

}
.planner-dia-add:hover {  
 transform: translateY(-2px);
  background-color: rgb(161, 203, 250);
  transition: 0.3s;
}
.planner-dia-add-botao{
    font-size: 2.1rem;
  font-weight: 500;
  color: #555;
}