.menuTarefa {
    position: absolute;
    top: 0;
    right: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #ff0000;
    border-radius: 8px;
}

.menuTarefaItem {
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: #2600ff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}