.menuTarefa {
    position: absolute;
    top: 50%;
    right: -120px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 6px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    z-index: 9999;
    min-width: 110px;

}

.menuTarefaItem {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menuTarefaItem:hover {
    background-color: #f2f2f2;
}